@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.FindEventsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-events-page-header {
  margin-top: 5%;

  font-family: "Shadows Into Light";
  font-size: 20px;
  color: #5c6453;
}

@media only screen and (max-width: 450px) {
  .find-events-page-header {
    margin-top: 0;
    font-family: "Shadows Into Light";
    font-size: 18px;
    color: #5c6453;
  }

  .find-events-page-header > h1 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
