@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.FindEventsButtonContainer > button {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: #5c6453;
  font-family: Mulish;
}

.FindEventsButtonContainer > button:hover {
  transform: scale(1.1);
}

.dog-meetups {
  border: 3px solid #ccd2c7;
}

.restaurant-crawl {
  border: 3px solid #bbc3b4;
}

.fitness {
  border: 3px solid #999f94;
}

.different-event {
  border: 3px solid #889081;
}
