.SelectedEventsHeaderContainer {
  margin-bottom: 15px;
}

.EventFormDivContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.EventForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 25px;
  color: #5c6453;
}

.EventForm > label {
  font-size: 18px;
  margin: 15px 0px;
  font-weight: bold;
}

.EventForm > input {
  padding: 10px;
  border-radius: 10px;
  border: solid 2px white;
}

.details-input {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.EventForm > button {
  margin-top: 25px;
  width: 150;
  padding: 15px;
  align-self: center;
  border-radius: 10px;
  border: 3px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #5c6453;
}

.EventForm > button:hover {
  background-color: white;
  color: rgb(170, 180, 161);
}
