.find-events-list {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 25px;
}

.find-event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: #5c6453;
}

.find-event-card > p {
  margin: 7.5px;
}

.find-event-card > h2 {
  margin: 10px;
}

.bold-header {
  font-weight: bold;
}
