@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px rgb(170, 180, 161) solid;
  height: 50px;
  width: 97.5%;
}

.links {
  color: rgb(170, 180, 161);
  text-decoration: none;
  margin-right: 15px;
  font-family: Mulish;
}

.links:hover {
  color: #889081;
}

.logo {
  margin-top: 7px;
  font-family: "Shadows Into Light";
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  .NavBarContainer {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    width: 97%;
    height: 10%;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .welcome-user {
    display: none;
  }

  .links {
    color: rgb(170, 180, 161);
    text-decoration: none;
    font-family: Mulish;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .links:hover {
    color: #889081;
  }

  .logo {
    margin-top: 7px;
    margin-bottom: 0px;
    font-family: "Shadows Into Light";
    font-size: 22px;
  }
}
