@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px rgb(170, 180, 161) solid;
  height: 50px;
  width: 97%;
}

.links {
  color: rgb(170, 180, 161);
  text-decoration: none;
  margin-right: 15px;
  font-family: Mulish;
}

.links:hover {
  color: #889081;
}

.logo {
  margin-top: 7px;
  font-family: "Shadows Into Light";
  font-size: 20px;
}
