@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.UserEventsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-events-page-header {
  margin-top: 5%;
  font-family: "Shadows Into Light";
  font-size: 20px;
  color: #5c6453;
}

.lists-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.attending-events-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.created-list-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.created-events-header {
  font-family: "Shadows Into Light";
  font-size: 30px;
  color: #5c6453;
}
.attending-events-header {
  font-family: "Shadows Into Light";
  font-size: 30px;
  color: #5c6453;
}
.created-events-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.attending-events-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.created-event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #cbd4c4;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: #5c6453;
  background-color: #cbd4c4;
  width: 75%;
  height: 250px;
}

.user-event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #bbc3b4;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: #5c6453;
  width: 75%;
  height: 250px;
}

.generate-events-links {
  color: #5c6453;
  text-decoration: none;
}

.generate-events-links:hover {
  color: #bbc3b4;
}

.user-event-card > p {
  margin: 7.5px;
}

.user-event-card > h2 {
  margin: 10px;
}

.bold-header {
  font-weight: bold;
}

.generate-events-links {
  color: #5c6453;
  text-decoration: none;
}

.generate-events-links:hover {
  color: #bbc3b4;
}
