@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.UserEventsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-events-page-header {
  margin-top: 5%;
  font-family: "Shadows Into Light";
  font-size: 20px;
  color: #5c6453;
}

.lists-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.created-list-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.attending-events-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.created-events-header {
  font-family: "Shadows Into Light";
  font-size: 30px;
  color: #5c6453;
}
.attending-events-header {
  font-family: "Shadows Into Light";
  font-size: 30px;
  color: #5c6453;
}
.created-events-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.attending-events-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.created-event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: stretch;
  border: 2px solid #cbd4c4;
  padding: 10px 20px 20px 20px;
  margin: 20px;
  border-radius: 10px;
  color: #5c6453;
  background-color: #cbd4c4;
  width: 77%;
  height: 260px;
}

.user-event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: stretch;
  border: 2px solid #d7dad5;
  padding: 10px 20px 20px 20px;
  margin: 20px;
  border-radius: 10px;
  color: #5c6453;
  background-color: #eef1eb;
  height: 260px;
  width: 77%;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  padding-top: 0px;
  margin-left: 10px;
  padding: 0px 15px 0px 15px;
}

.property {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  justify-self: flex-end;
}

.property-address {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 60px;
}
.property-details {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
}

.bold-key {
  margin: 0px;
  font-weight: bold;
}
.bold-key-attending {
  margin: 0px;
  font-weight: bold;
  font-size: 24px;
}
.bold-key-address {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  width: 45%;
}

.value {
  display: flex;
  flex-direction: column;
}

.value-address {
  display: flex;
  flex-basis: auto;
  justify-self: flex-end;
  align-self: center;
}

.generate-events-links {
  color: #5c6453;
  text-decoration: none;
}

.generate-events-links:hover {
  color: #bbc3b4;
}
.your-event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  font-family: "Shadows Into Light";
}

@media only screen and (max-width: 450px) {
  .UserEventsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-events-page-header {
    margin-top: 5%;
    font-family: "Shadows Into Light";
    font-size: 20px;
    color: #5c6453;
  }

  .lists-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .created-list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 25px;
  }
  .attending-events-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 25px;
  }

  .created-events-header {
    font-family: "Shadows Into Light";
    font-size: 30px;
    color: #5c6453;
  }
  .attending-events-header {
    font-family: "Shadows Into Light";
    font-size: 30px;
    color: #5c6453;
  }
  .created-events-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .attending-events-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .created-event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    border: 2px solid #cbd4c4;
    padding: 10px 20px 20px 20px;
    margin: 20px;
    border-radius: 10px;
    color: #5c6453;
    background-color: #cbd4c4;
    width: 77%;
    height: 260px;
  }

  .user-event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: stretch;
    border: 2px solid #d7dad5;
    padding: 10px 20px 20px 20px;
    margin: 20px;
    border-radius: 10px;
    color: #5c6453;
    background-color: #eef1eb;
    height: 260px;
    width: 77%;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0px 0px 0px 0px;
  }

  .property {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    max-width: 80%;
    justify-content: space-between;
    justify-items: space-between;
    flex-wrap: row wrap;
    height: 20px;
  }
  .property-details {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    max-width: 80%;
    justify-content: space-between;
    justify-items: space-between;
    flex-wrap: row wrap;
    height: 40px;
  }
  .property-address {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    max-width: 80%;
    justify-content: space-between;
    justify-items: space-between;
    /* flex-wrap: row wrap; */
    height: 60px;
  }
  .bold {
    font-size: 22px;
  }

  .bold-key {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    width: 45%;
  }
  .bold-key-address {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    width: 45%;
  }

  .bold-key-attending {
    margin: 0px;
    font-weight: bold;
    font-size: 24px;
    justify-self: flex-end;
  }

  .value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .value-address {
    display: flex;
    justify-content: center;
  }

  .generate-events-links {
    color: #5c6453;
    text-decoration: none;
  }

  .generate-events-links:hover {
    color: #bbc3b4;
  }
  .see-details-and-event {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  .your-event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    font-family: "Shadows Into Light";
    width: 45%;
  }
}
