@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Shadows+Into+Light&display=swap");

.edit-header {
  margin-top: 25px;
  color: #5c6453;
}

.edit-header > h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

.edit-header-name {
  font-family: "Shadows Into Light";
  font-size: 40px;
}

.EditFormDivContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: #ccd2c7;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 10%;
}

.EventForm {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 25px;
  color: #5c6453;
}

.EventForm > label {
  font-size: 18px;
  margin: 15px 0px;
  font-weight: bold;
}

.EventForm > input {
  padding: 10px;
  border-radius: 10px;
  border: solid 2px white;
  font-size: 16px;
  color: #5c6453;
}

.details-input {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.EventForm > button {
  margin-top: 25px;
  width: 150;
  padding: 15px;
  align-self: center;
  border-radius: 10px;
  border: 2px solid #5c6453;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #5c6453;
}

.EventForm > button:hover {
  background-color: white;
  color: rgb(170, 180, 161);
}

@media only screen and (max-width: 450px) {
  .EditFormDivContainer {
    width: 95vw;
    border-radius: 25px;
    margin-top: 0px;
  }

  .edit-header {
    margin-top: 5px;
  }

  .edit-header > h1 {
    font-size: 22px;
  }

  .edit-header-name {
    font-family: "Shadows Into Light";
    font-size: 32px;
    margin-bottom: 0px;
  }
}
